parameters:
    level: 8
    paths:
        - ./Command/OrdersShippingCommand.php
        - ./Components/Config
        - ./Exceptions
        - ./Services
    excludes_analyse:
        - node_modules/*
        - Resources/*
        - vendor/*
        - Services/Mollie/Client/MollieHttpClient.php
    ignoreErrors:
        # -----------------------------------------------------------------------------------------------------------
        # ignore Shopware attributes with magic getters and setters
        - '#Call to method getMollieReturn\(\) on an unknown class Shopware\\Models\\Attribute\\OrderDetail#'
        - '#Call to method setMollieReturn\(\) on an unknown class Shopware\\Models\\Attribute\\OrderDetail#'
        # -----------------------------------------------------------------------------------------------------------

services:
    - class: MollieShopware\Tests\PHPStan\Rules\NoStrictTypesRule
      tags:
        - phpstan.rules.rule
    - class: MollieShopware\Tests\PHPStan\Rules\NoManufacturerRule
      tags:
        - phpstan.rules.rule