parameters:
    level: 8
    paths:
        - ./Command/OrdersShippingCommand.php
        - ./Components/iDEAL
        - ./Components/Config
        - ./Exceptions
        - ./Services
    excludes_analyse:
        - node_modules/*
        - Resources/*
        - vendor/*
    ignoreErrors:
        # -----------------------------------------------------------------------------------------------------------
        # ignore Shopware attributes with magic getters and setters
        - '#Call to method getMollieReturn\(\) on an unknown class Shopware\\Models\\Attribute\\OrderDetail#'
        - '#Call to method setMollieReturn\(\) on an unknown class Shopware\\Models\\Attribute\\OrderDetail#'
        - '#Call to method getMollieShopwareIdealIssuer\(\) on an unknown class Shopware\\Models\\Attribute\\Customer#'
        - '#Call to method setMollieShopwareIdealIssuer\(\) on an unknown class Shopware\\Models\\Attribute\\Customer#'
        # -----------------------------------------------------------------------------------------------------------
        # ignore magic getters and setters in Mollie API objects
        - '#Access to an undefined property Mollie\\Api\\Resources\\Issuer::\$isSelected#'
        # -----------------------------------------------------------------------------------------------------------

services:
    - class: MollieShopware\Tests\PHPStan\Rules\NoStrictTypesRule
      tags:
        - phpstan.rules.rule
    - class: MollieShopware\Tests\PHPStan\Rules\NoManufacturerRule
      tags:
        - phpstan.rules.rule