{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-less"
    ],
    "ignoreFiles": [
        "Resources/views/frontend/_public/src/less/checkout.less",
        "Resources/views/frontend/_public/src/less/components.less"
    ],
    "rules": {
        "indentation": 4,
        "color-hex-case": "lower",
        "no-missing-end-of-source-newline": true,
        "property-no-unknown": [true, {
            "severity": "warning",
            "ignoreProperties": [
                "user-focus",
                "user-input",
                "user-modify"
            ]
        }],
        "no-descending-specificity": null,
        "max-nesting-depth": [3, {
            "ignore": ["blockless-at-rules", "pseudo-classes"],
            "severity": "warning"
        }],
        "at-rule-no-unknown": null
    }
}
