parameters:
    level: 1
    paths:
        - .
    bootstrapFiles:
        - Client/vendor/autoload.php
    excludes_analyse:
        - Client/*
        - Resources/*
        - vendor/*

services:
    - class: MollieShopware\Tests\PHPStan\Rules\NoStrictTypesRule
      tags:
        - phpstan.rules.rule
    - class: MollieShopware\Tests\PHPStan\Rules\NoManufacturerRule
      tags:
        - phpstan.rules.rule