<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">Mollie</label>
    <label lang="de">Mollie</label>
    <label lang="nl">Mollie</label>

    <version>1.5.7</version>
    <copyright>(c) Mollie B.V.</copyright>
    <author>Kiener E-commerce</author>
    <link>https://www.kiener.nl</link>

    <description lang="en">Plugin to allow iDeal payments using the Mollie API (1.5.7)</description>
    <description lang="nl">Plugin die iDealbetalingen via de Mollie API doorgeeft (1.5.7)</description>
    <description lang="de">Plugin um Zahlungen mit der Mollie API zu ermöglichen (1.5.7)</description>

    <compatibility minVersion="5.3.0"/>
</plugin>