<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="button">
            <name>btn_wiki</name>
            <label lang="de">>> Benutzeranleitung öffnen</label>
            <label lang="en">>> Open Documentation</label>
            <label lang="nl">>> Handleiding openen</label>
            <options>
                <handler>
                    <![CDATA[
                    function(button) {
                        window.open("https://github.com/mollie/Shopware/wiki/Plugin-Configuration")
                    }
                    ]]>
                </handler>
                <position>0</position>
            </options>
        </element>

        <element type="button">
            <name>btn_retrieve_keys</name>
            <label lang="de">>> API Keys abrufen</label>
            <label lang="en">>> Retrieve API Keys</label>
            <label lang="nl">>> API Keys opvragen</label>
            <options>
                <handler>
                    <![CDATA[
                    function(button) {
                        window.open("/backend/MollieConfiguration/openDashboardKeys")
                    }
                    ]]>
                </handler>
                <position>1</position>
            </options>
        </element>

        <element type="button">
            <name>btnTestAPI</name>
            <label lang="en">>> Test API Keys (before: save + clear cache)</label>
            <label lang="de">>> Teste API Keys (zuvor: Speichern + Cache löschen)</label>
            <label lang="nl">>> Test API Keys (voor : opslaan + cache wissen)</label>
            <options>
                <position>2</position>
                <handler>
                    <![CDATA[
                        function() {
                            Ext.Ajax.request({
                                url: 'MollieConfiguration/testKeys',
                                success: function (response) {
                                    Shopware.Msg.createGrowlMessage(response.statusText, response.responseText)
                                },
                                failure: function (response) {
                                    if (response.status === 404) {
                                        Shopware.Msg.createGrowlMessage('Mollie Plugin', 'Please enable the plugin and clear your caches to use this feature!');
                                    } else {
                                        Shopware.Msg.createGrowlMessage(response.statusText, response.responseText)
                                    }
                                }
                            });
                        }
                    ]]>
                </handler>
            </options>
        </element>

        <element required="false" type="password" scope="shop">
            <name>api-key</name>
            <label lang="de">Live API-key</label>
            <label lang="en">Live API-key</label>
            <label lang="nl">Live API-key</label>
            <options>
                <position>3</position>
            </options>
        </element>

        <element required="false" type="text" scope="shop">
            <name>test-api-key</name>
            <label lang="de">Test API-key</label>
            <label lang="en">Test API-key</label>
            <label lang="nl">Test API-key</label>
            <options>
                <position>4</position>
            </options>
        </element>

        <element required="true" type="select" scope="shop">
            <name>test_mode_active</name>
            <label lang="de">Testmodus</label>
            <label lang="en">Test mode</label>
            <label lang="nl">Testmodus</label>
            <value>no</value>
            <description lang="de">Zahlungen werden über das Testystem durchgeführt.</description>
            <description lang="en">Payments are done using the testing system.</description>
            <description lang="nl">Betalingen worden gedaan met behulp van het testsysteem.</description>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
            <options>
                <position>5</position>
            </options>
        </element>

        <element required="true" type="select">
            <name>log_level</name>
            <label lang="de">Protokollstufe</label>
            <label lang="en">Log Level</label>
            <label lang="nl">Log niveau</label>
            <value>2, INFO</value>
            <description lang="de">Konfiguration, ab welcher Stufe Informationen und Fehler protokolliert werden sollen.</description>
            <description lang="en">Configuration from which level information and errors should be logged</description>
            <description lang="nl">Configuratie vanaf welk niveau informatie en errors gelogd moeten worden</description>
            <store>
                <option>
                    <value>100</value>
                    <label>1, DEBUG</label>
                </option>
                <option>
                    <value>200</value>
                    <label>2, INFO</label>
                </option>
                <option>
                    <value>250</value>
                    <label>3, NOTICE</label>
                </option>
                <option>
                    <value>300</value>
                    <label>4, WARNING</label>
                </option>
                <option>
                    <value>400</value>
                    <label>5, ERROR</label>
                </option>
                <option>
                    <value>500</value>
                    <label>6, CRITICAL</label>
                </option>
                <option>
                    <value>550</value>
                    <label>7, ALERT</label>
                </option>
                <option>
                    <value>600</value>
                    <label>8, EMERGENCY</label>
                </option>
            </store>
            <options>
                <position>6</position>
            </options>
        </element>

        <element type="button">
            <name>btnPaymentUpdate</name>
            <label lang="en">>> Update Payment Methods</label>
            <label lang="de">>> Zahlungsmethoden aktualisieren</label>
            <label lang="nl">>> Betaalmethoden actualiseren</label>
            <options>
                <position>7</position>
                <handler>
                    <![CDATA[
                        function() {
                            Ext.Ajax.request({
                                url: 'molliePayments/update',
                                success: function (response) {
                                    Shopware.Msg.createGrowlMessage(response.statusText, response.responseText)
                                },
                                failure: function (response) {
                                    if (response.status === 404) {
                                        Shopware.Msg.createGrowlMessage('Mollie Plugin', 'Please enable the plugin and clear your caches to use this feature!');
                                      } else {
                                        Shopware.Msg.createGrowlMessage(response.statusText, response.responseText)
                                    }
                                }
                            });
                        }
                    ]]>
                </handler>
            </options>
        </element>

        <element type="button" required="false">
            <name>separator_orders</name>
            <label lang="de">--------------------------------------------------------------------------------------- Bestellungen ---------------------------------------------------------------------------------------</label>
            <label lang="en">--------------------------------------------------------------------------------------- Orders ---------------------------------------------------------------------------------------</label>
            <label lang="nl">--------------------------------------------------------------------------------------- Bestellingen ---------------------------------------------------------------------------------------</label>
            <options>
                <position>8</position>
            </options>
        </element>

        <element type="select" scope="shop">
            <name>create_order_before_payment</name>
            <label lang="de">Shopware Bestellung vor Zahlung anlegen</label>
            <label lang="en">Create Shopware order before payment</label>
            <label lang="nl">Shopware Bestelling aanleggen voor de betaling</label>
            <value>yes</value>
            <description lang="de">Durch das Anlegen einer Bestellung vor Abschluss der Zahlung kann der Zahlung die Shopware Bestellnummer (anstelle einer temporären Nummer) zugewiesen werden.</description>
            <description lang="en">By creating an order before finishing the payment, the Shopware order number (instead of a temporary number) can be given to the payment.</description>
            <description lang="nl">Door de order te maken voor het afronden van de betaling, kan het Shopware order nummer (in plaats van een tijdelijk nummer) worden meegegeven aan de betaling.</description>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
            <options>
                <position>9</position>
            </options>
        </element>

        <element type="select" scope="shop">
            <name>payment_method</name>
            <label lang="de">Zahlungs Methode</label>
            <label lang="en">Zahlungs Methode</label>
            <label lang="nl">Zahlungs Methode</label>
            <value>payments_api</value>
            <description lang="de">Konfiguration ob nur Transaktionen oder auch Bestellungen in Mollie angelegt werden. Für Klarna werden immer Bestellungen angelegt.</description>
            <description lang="en">Configuration if only transactions are also orders are being created in Mollie. Klarna will always create orders.</description>
            <description lang="nl">Configuratie als alleen transacties ook orders worden aangemaakt in Mollie. Klarna legt altijd orders aan.</description>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>payments_api</value>
                    <label lang="de">Payments API (Transaktionen)</label>
                    <label lang="en">Payments API (Transactions)</label>
                    <label lang="nl">Payments API (transacties)</label>
                </option>
                <option>
                    <value>orders_api</value>
                    <label lang="de">Orders API (Transaktionen + Bestellungen)</label>
                    <label lang="en">Orders API (Transactions + Orders)</label>
                    <label lang="nl">Orders API (transacties + bestellingen)</label>
                </option>
            </store>
            <options>
                <position>11</position>
            </options>
        </element>

        <element type="select" scope="shop">
            <name>payment_authorized_status</name>
            <label lang="de">Zahlungsstatus für autorisierte Bezahlungen</label>
            <label lang="en">Status for authorized payments</label>
            <label lang="nl">Status voor geautoriseerde betalingen</label>
            <value>ordered</value>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>ordered</value>
                    <label lang="de">Die Zahlung wurde angewiesen (not available in Shopware 5.3)</label>
                    <label lang="en">The payment has been ordered (nicht verfügbar in Shopware 5.3)</label>
                    <label lang="nl">De betaling is geautoriseerd (niet beschikbaar in Shopware 5.3)</label>
                </option>
                <option>
                    <value>preliminarily_accepted</value>
                    <label lang="de">Der Kredit wurde vorläufig akzeptiert</label>
                    <label lang="en">The credit has been preliminarily accepted</label>
                    <label lang="nl">Het krediet werd voorlopig geaccepteerd</label>
                </option>
                <option>
                    <value>accepted</value>
                    <label lang="de">Der Kredit wurde genehmigt</label>
                    <label lang="en">The credit has been accepted</label>
                    <label lang="nl">Het krediet werd goedgekeurd</label>
                </option>
                <option>
                    <value>completely_paid</value>
                    <label lang="de">Vollständig bezahlt</label>
                    <label lang="en">Completely paid</label>
                    <label lang="nl">Volledig betaald</label>
                </option>
            </store>
            <options>
                <position>11</position>
            </options>
        </element>

        <element type="select" scope="shop">
            <name>transaction_number_type</name>
            <label lang="de">Transaktionsnummer für Bestellungen</label>
            <label lang="en">Transaction number for orders</label>
            <label lang="nl">Transactienummer voor orders</label>
            <value>mollie</value>
            <description lang="de">Wähle die Transaktionsnummer, die in Shopware als Referenz angezeigt werden soll. Dies ist entweder die Nummer der Mollie Transaktion, oder eine Referenznummer der Zahlart, sofern verfügbar.</description>
            <description lang="en">Choose the transaction number that is visible as reference in Shopware. This is either the number of the Mollie transaction, or a reference number of the payment method, if available.</description>
            <description lang="nl">Selecteer het transactienummer dat in Shopware als referentie moet worden weergegeven. Dit is of het nummer van de Mollie transactie, of een referentienummer van de betalingsmethode, indien beschikbaar.</description>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>mollie</value>
                    <label lang="de">Mollie</label>
                    <label lang="en">Mollie</label>
                    <label lang="nl">Mollie</label>
                </option>
                <option>
                    <value>payment_method</value>
                    <label lang="de">Zahlungsart</label>
                    <label lang="en">Payment Method</label>
                    <label lang="nl">Betaalmethode</label>
                </option>
            </store>
            <options>
                <position>13</position>
            </options>
        </element>

        <element type="select" scope="shop">
            <name>orders_api_update_order_status</name>
            <label lang="de">Bestellstatus automatisch aktualisieren</label>
            <label lang="en">Update Order Status automatically</label>
            <label lang="nl">Bestelstatus automatisch actualiseren</label>
            <value>no</value>
            <description lang="de">Aktualisiert zusätzlich zum Bezahlstatus, auch automatisch den Bestellstatus einer Bestellung.</description>
            <description lang="en">Automatically updates the order status in addition to the payment status.</description>
            <description lang="nl">Automatisch update van de orderstatus naast de betaalstatus.</description>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
            <options>
                <position>14</position>
            </options>
        </element>

        <element type="combo" scope="shop">
            <name>klarna_shipped_status</name>
            <label lang="de">Bestellstatus für versendete Bestellungen</label>
            <label lang="en">Order Status for shipped orders.</label>
            <label lang="nl">Bestelstatus voor verzonden bestellingen</label>
            <description lang="de">Bestellstatus für Bestellungen die durch Teillieferung als versendet markiert wurden.</description>
            <description lang="en">Order status for orders that have been marked as shipped by partial delivery.</description>
            <description lang="nl">Bestelstatus voor orders gemarkeerd als verzonden door gedeeltelijke levering.</description>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <position>15</position>
            </options>
        </element>

        <element type="select" scope="shop">
            <name>auto_cancel_failed_orders</name>
            <label lang="de">Fehlgeschlagene Bestellungen stornieren</label>
            <label lang="en">Cancel failed orders</label>
            <label lang="nl">Mislukte bestellingen annuleren</label>
            <value>yes</value>
            <description lang="de">Wenn eine Bestellung wiederhergestellt wird, wird die alte (fehlgeschlagene) Bestellung automatisch storniert.</description>
            <description lang="en">Automatically cancel the old (failed) order when an order is restored.</description>
            <description lang="nl">Wanneer een bestelling wordt hersteld, automatisch de oude (mislukte) bestelling annuleren.</description>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
            <options>
                <position>16</position>
            </options>
        </element>


        <element type="select" scope="shop">
            <name>reset_invoice_shipping</name>
            <label lang="de">Stornierung aller Beträge</label>
            <label lang="en">Cancellation of all amounts</label>
            <label lang="nl">Annulering van alle bedragen</label>
            <value>no</value>
            <description lang="de">Gesamtbetrag, sowie Versandkosten werden beim Stornieren einer Bestellung zurückgesetzt.</description>
            <description lang="en">The total amount and shipping costs are reset when an order is canceled.</description>
            <description lang="nl">Het totaalbedrag en de verzendkosten worden gereset wanneer een bestelling wordt geannuleerd.</description>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
            <options>
                <position>17</position>
            </options>
        </element>


        <element type="select" scope="shop">
            <name>auto_reset_stock</name>
            <label lang="de">Lagerbestand bei Fehler zurücksetzen</label>
            <label lang="en">Reset stock on failed payment</label>
            <label lang="nl">Voorraad terugzetten bij mislukte betaling</label>
            <value>yes</value>
            <description lang="de">Setzt die bestellten Mengen in abgebrochenen Bestellungen auf 0, um den Lagerbestand wieder zurückzusetzen. Dies setzt auch den Gesamtbetrag entsprechend zurück.</description>
            <description lang="en">Sets the position quantities in cancelled orders to 0, to reset the stock of the products. This also resets the total amount accordingly.</description>
            <description lang="nl">Zet de bestelde hoeveelheden in geannuleerde bestellingen op 0 om de voorraad opnieuw in te kunnen stellen. Hiermee wordt ook het totale bedrag overeenkomstig gereset.</description>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
            <options>
                <position>18</position>
            </options>
        </element>

        <element type="combo" scope="shop">
            <name>klarna_ship_on_status</name>
            <label lang="de">Automatischer Versand Status</label>
            <label lang="en">Automatic shipping status</label>
            <label lang="nl">Automatische verzendstatus</label>
            <description lang="de">Die Bestellung wird automatisch in Mollie als versendet markiert, wenn ein Übergang in diesen Status erfolgt.</description>
            <description lang="en">The order is automatically marked as shipped in Mollie if a transition to this status is made.</description>
            <description lang="nl">De bestelling wordt automatisch gemarkeerd als verzonden in Mollie als er een overgang naar deze status wordt gemaakt.</description>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <position>19</position>
            </options>
        </element>


        <element type="button" required="false">
            <name>separator_mails</name>
            <label lang="de">--------------------------------------------------------------------------------------- E-Mails ---------------------------------------------------------------------------------------</label>
            <label lang="en">--------------------------------------------------------------------------------------- E-Mails ---------------------------------------------------------------------------------------</label>
            <label lang="nl">--------------------------------------------------------------------------------------- E-Mails ---------------------------------------------------------------------------------------</label>
            <options>
                <position>20</position>
            </options>
        </element>

        <element type="select" scope="shop">
            <name>send_status_mail</name>
            <label lang="de">Statusmail für Zahlungen senden</label>
            <label lang="en">Send payment status mail</label>
            <label lang="nl">Stuur betaalstatus e-mail</label>
            <value>yes</value>
            <store>
                <option>
                    <value>inherited</value>
                    <label lang="de">Vererbt</label>
                    <label lang="en">Inherited</label>
                    <label lang="nl">Geërfd</label>
                </option>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
            <options>
                <position>21</position>
            </options>
        </element>

        <element type="button" required="false">
            <name>separator_credit_card</name>
            <label lang="de">--------------------------------------------------------------------------------------- Kreditkarte ---------------------------------------------------------------------------------------</label>
            <label lang="en">--------------------------------------------------------------------------------------- Credit Card ---------------------------------------------------------------------------------------</label>
            <label lang="nl">--------------------------------------------------------------------------------------- Creditcard ---------------------------------------------------------------------------------------</label>
            <options>
                <position>22</position>
            </options>
        </element>

        <element type="boolean">
            <name>enable_credit_card_component</name>
            <label lang="de">Komponenten aktivieren</label>
            <label lang="en">Enable components</label>
            <label lang="nl">Component activeren</label>
            <value>true</value>
            <options>
                <position>23</position>
            </options>
        </element>

        <element type="boolean">
            <name>enable_credit_card_component_styling</name>
            <label lang="de">Styling für Komponenten aktivieren</label>
            <label lang="en">Enable styling for components</label>
            <label lang="nl">Voeg styling toe aan componenten</label>
            <value>true</value>
            <options>
                <position>24</position>
            </options>
        </element>

        <element type="button" required="false">
            <name>separator_applepay</name>
            <label lang="de">--------------------------------------------------------------------------------------- Apple Pay ---------------------------------------------------------------------------------------</label>
            <label lang="en">--------------------------------------------------------------------------------------- Apple Pay ---------------------------------------------------------------------------------------</label>
            <label lang="nl">--------------------------------------------------------------------------------------- Apple Pay ---------------------------------------------------------------------------------------</label>
            <options>
                <position>25</position>
            </options>
        </element>

        <element type="select" scope="shop">
            <name>mollie_applepaydirect_restrictions</name>
            <label lang="de">Anzeige Einschränkungen</label>
            <label lang="en">Display Restrictions</label>
            <label lang="nl">Beperkingen weergeven</label>
            <description lang="en">Restrict Apple Pay Direct from being displayed on these pages.</description>
            <description lang="de">Verhindere die Anzeige von Apple Pay Direct auf den hier gewählten Seiten</description>
            <description lang="nl">Voorkom dat Apple Pay Direct wordt weergegeven op deze pagina's.</description>
            <store><![CDATA[Ext.define('Mollie.ApplePayDirect.RestrictionsForm', {
    extend: 'Ext.data.Store',
    fields: [
        { name:'id', type: 'int' },
        { name:'name', type: 'string' }
    ],
    autoLoad: true,
    pageSize: 25,
    proxy: {
        type: 'ajax',
        url: 'MollieApplePayDirect/displayRestrictions',
        reader: {
            type: 'json',
            root: 'data',
            totalProperty: 'total'
        },
        listeners: {
            exception: function(store, response, operation) {
                throw new Error('Please clear your cache to use the Apple Pay Display restrictions and reopen the configuration!');
            }
        }
    }
    }).create();//new ]]>
            </store>
            <options>
                <multiSelect>true</multiSelect>
                <valueField>id</valueField>
                <displayField>name</displayField>
                <isCustomStore>true</isCustomStore>
                <position>26</position>
            </options>
        </element>

        <element type="button" required="false">
            <name>separator_banktransfer</name>
            <label lang="de">--------------------------------------------------------------------------------------- Bank Transfer ---------------------------------------------------------------------------------------</label>
            <label lang="en">--------------------------------------------------------------------------------------- Bank Transfer ---------------------------------------------------------------------------------------</label>
            <label lang="nl">--------------------------------------------------------------------------------------- Bank Transfer ---------------------------------------------------------------------------------------</label>
            <options>
                <position>27</position>
            </options>
        </element>

        <element type="number" scope="shop">
            <name>banktransfer_duedate_days</name>
            <label lang="de">Zahlungsziel (Tage)</label>
            <label lang="en">Payment term (Days)</label>
            <label lang="nl">Betalingstermijn (Dagen)</label>
            <options>
                <position>28</position>
            </options>
        </element>

    </elements>
</config>
