<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element required="true" type="text" scope="shop">
            <name>api-key</name>
            <label lang="de">API-key</label>
            <label lang="en">API-key</label>
            <label lang="nl">API-key</label>
        </element>

        <element type="select" scope="shop">
            <name>send_status_mail</name>
            <label lang="de">Statusmail senden</label>
            <label lang="en">Send status mail</label>
            <label lang="nl">Stuur status e-mail</label>
            <value>yes</value>
            <store>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
        </element>

        <element type="select" scope="shop">
            <name>send_refund_status_mail</name>
            <label lang="de">Erstattungsstatus senden</label>
            <label lang="en">Send refund status mail</label>
            <label lang="nl">Stuur restitutiestatus mail</label>
            <value>yes</value>
            <store>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
        </element>

        <element type="select" scope="shop">
            <name>auto_reset_stock</name>
            <label lang="de">Lader automatisch züruckzetsen nach ein fehlgeschlagener Zahlung</label>
            <label lang="en">Automatically reset stock on failed payment</label>
            <label lang="nl">Voorraad automatisch herstellen na een mislukte betaling</label>
            <value>yes</value>
            <store>
                <option>
                    <value>yes</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                    <label lang="nl">Ja</label>
                </option>
                <option>
                    <value>no</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                    <label lang="nl">Nee</label>
                </option>
            </store>
        </element>

<!--         <element type="textarea" scope="shop">
            <name>extra_metadata</name>
            <label lang="de">Zusätzliche Metadaten</label>
            <label lang="en">Extra metadata</label>
            <label lang="nl">Extra metadata</label>
            <value>
                <![CDATA[
                    <?xml version="1.0" encoding="UTF-8"?>
                    <metadata>
                        <Customer>
                            
                        </Customer>
                    </metadata>
                ]]>
            </value>
        </element> -->

    </elements>
</config>
