<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>MollieSupport</name>
            <label lang="en">Mollie support</label>
            <label lang="de">Mollie support</label>
            <label lang="nl-NL">Mollie support</label>
            <controller>MollieSupport</controller>
            <action>index</action>
            <class>sprite--mollie</class>
            <parent identifiedBy="controller">HelpMenu</parent>
        </entry>
    </entries>
</menu>